In [3]:
# имортируем нужные библиотеки
import pandas as pd
# подгружаем файл в colab
from google.colab import files
upload = files.upload()

Saving DESeq2.tsv to DESeq2 (1).tsv
Saving gencode.v34.types.tsv to gencode.v34.types.tsv

,Gene,baseMean,log2FoldChange,lfcSE,pvalue,padj
0,DDX11L1,0.000000,NaN,NaN,NaN,NaN
1,WASH7P,0.200675,-0.110041,0.902457,8.058770e-01,NaN
2,MIR6859-1,5.247554,0.149485,0.638677,7.418526e-01,8.097161e-01
3,MIR1302-2HG,0.294170,-0.135619,0.905959,7.079911e-01,NaN
4,MIR1302-2,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
60586,MT-ND6,16460.402867,0.834555,0.137683,8.322870e-10,2.996180e-09
60587,MT-TE,0.774273,0.265988,0.890797,3.636587e-01,NaN
60588,MT-CYB,70257.617927,0.333135,0.051822,1.086704e-10,4.096246e-10
60589,MT-TT,0.198015,0.112155,0.903213,7.117275e-01,NaN
60590,MT-TP,314.811654,0.942877,0.120308,2.607147e-15,1.216239e-14

In [99]:
#читаем файл
data = pd.read_csv('DESeq2.tsv', sep = '\t')
gencode = pd.read_csv('gencode.v34.types.tsv', sep = '\t')
data

,Gene,baseMean,log2FoldChange,lfcSE,pvalue,padj
0,DDX11L1,0.000000,NaN,NaN,NaN,NaN
1,WASH7P,0.200675,-0.110041,0.902457,8.058770e-01,NaN
2,MIR6859-1,5.247554,0.149485,0.638677,7.418526e-01,8.097161e-01
3,MIR1302-2HG,0.294170,-0.135619,0.905959,7.079911e-01,NaN
4,MIR1302-2,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
60586,MT-ND6,16460.402867,0.834555,0.137683,8.322870e-10,2.996180e-09
60587,MT-TE,0.774273,0.265988,0.890797,3.636587e-01,NaN
60588,MT-CYB,70257.617927,0.333135,0.051822,1.086704e-10,4.096246e-10
60589,MT-TT,0.198015,0.112155,0.903213,7.117275e-01,NaN
60590,MT-TP,314.811654,0.942877,0.120308,2.607147e-15,1.216239e-14

In [100]:
gencode

               EnsemblID         Gene                                Type
0      ENSG00000223972.5      DDX11L1  transcribed_unprocessed_pseudogene
1      ENSG00000227232.5       WASH7P              unprocessed_pseudogene
2      ENSG00000278267.1    MIR6859-1                               miRNA
3      ENSG00000243485.5  MIR1302-2HG                              lncRNA
4      ENSG00000284332.1    MIR1302-2                               miRNA
...                  ...          ...                                 ...
60664  ENSG00000198695.2       MT-ND6                      protein_coding
60665  ENSG00000210194.1        MT-TE                             Mt_tRNA
60666  ENSG00000198727.2       MT-CYB                      protein_coding
60667  ENSG00000210195.2        MT-TT                             Mt_tRNA
60668  ENSG00000210196.2        MT-TP                             Mt_tRNA

[60669 rows x 3 columns]

In [102]:
# добавили тип гена
data['Type'] = [None for i in range(len(df))]
for gene1,gene2 in zip(data['Gene'], gencode['Gene']):
  if gene1 == gene2:
    data['Type'] = gencode['Type']
data

,Gene,baseMean,log2FoldChange,lfcSE,pvalue,padj,Type
0,DDX11L1,0.000000,NaN,NaN,NaN,NaN,transcribed_unprocessed_pseudogene
1,WASH7P,0.200675,-0.110041,0.902457,8.058770e-01,NaN,unprocessed_pseudogene
2,MIR6859-1,5.247554,0.149485,0.638677,7.418526e-01,8.097161e-01,miRNA
3,MIR1302-2HG,0.294170,-0.135619,0.905959,7.079911e-01,NaN,lncRNA
4,MIR1302-2,0.000000,NaN,NaN,NaN,NaN,miRNA
...,...,...,...,...,...,...,...
60586,MT-ND6,16460.402867,0.834555,0.137683,8.322870e-10,2.996180e-09,snRNA
60587,MT-TE,0.774273,0.265988,0.890797,3.636587e-01,NaN,lncRNA
60588,MT-CYB,70257.617927,0.333135,0.051822,1.086704e-10,4.096246e-10,unprocessed_pseudogene
60589,MT-TT,0.198015,0.112155,0.903213,7.117275e-01,NaN,unprocessed_pseudogene
60590,MT-TP,314.811654,0.942877,0.120308,2.607147e-15,1.216239e-14,unprocessed_pseudogene

In [97]:
# производим отбор для референсов
data.loc[(data['baseMean'] > 1000) & (data['log2FoldChange'].abs() < 0.5) & (data['padj'] < 0.05)]

,Gene,baseMean,log2FoldChange,lfcSE,pvalue,padj,Type
62,NOC2L,1523.427803,0.314708,0.064335,9.402486e-07,2.818755e-06,protein_coding
71,AGRN,11566.389521,0.104385,0.047328,2.693906e-02,4.864015e-02,protein_coding
102,DVL1,1048.469895,-0.420433,0.074720,1.600501e-08,5.378841e-08,protein_coding
132,SLC35E2B,1025.861543,-0.240923,0.073625,1.024270e-03,2.312236e-03,protein_coding
140,GNB1,7164.292218,0.394639,0.041736,2.935554e-21,1.683893e-20,protein_coding
...,...,...,...,...,...,...,...
59633,HTATSF1,1443.008186,-0.425456,0.067998,3.416365e-10,1.256215e-09,processed_pseudogene
59879,CETN2,1119.228492,0.316040,0.067687,2.825966e-06,8.165102e-06,protein_coding
59935,IRAK1,4992.520818,0.208385,0.044614,2.925353e-06,8.444726e-06,protein_coding
60574,MT-ATP8,6426.766092,0.403877,0.174171,1.821665e-02,3.396025e-02,unprocessed_pseudogene
60588,MT-CYB,70257.617927,0.333135,0.051822,1.086704e-10,4.096246e-10,unprocessed_pseudogene

In [98]:
# производим отбор для целевых генов
gene_cancer = data.loc[(df['baseMean'] > 1000) & (data['log2FoldChange'].abs() > 5) & (data['padj'] < 0.05)]
gene_cancer.sort_values(by='log2FoldChange', ascending=False)[:5]

,Gene,baseMean,log2FoldChange,lfcSE,pvalue,padj,Type
57101,HMOX1,16880.360560,8.747973,0.095660,0.0,0.0,lncRNA
42572,MAP1A,3009.589442,7.665786,0.146527,0.0,0.0,lncRNA
52986,IGFL2-AS1,1810.287000,6.059001,0.121143,0.0,0.0,protein_coding
26787,NDRG1,67721.617721,5.958682,0.051851,0.0,0.0,protein_coding
10455,PFKFB4,2118.742505,5.464637,0.097706,0.0,0.0,protein_coding